{% extends "index.html" %}
{% load staticfiles %}

{% block main %}

    <br>

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <p class="-align-center text-danger">Seguro que desea Eliminar al estudiante {{ student.full_name }}?</p>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input class="btn btn-danger pull-right" type="submit" name="submit"
                       value="Delete">
            </div>
        </div>


    </form>

{% endblock %}