{% extends "index.html" %}
{% load staticfiles i18n %}

{% block main %}

    <div class="row ">

        <div class="col-md-6">
            <h1>profesor: {{ request.user }}</h1>
            <h1>{{ request.user.get_full_name }}</h1>
            <a class="btn btn-primary consultar" href="/logout">logout</a>

        </div>

    </div>

    <br>

    <div id="content-div" class="row col-md-8">
        <a id="search-subjects" class="btn btn-primary">Search</a>
        <div class="col-md-4">
            <input id="name-student" type="text" class="form-control">
        </div>

    </div>

    <br>

    <table class="table table-striped">
        <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Credits' %}</th>

        </thead>

        <tbody id="subjects">

        </tbody>


    </table>



{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {

            //verificar cuando se hace click en el elemento boton editar hallazgo que se carga por ajax
            $('#content-div').on('click', '#search-subjects', function () {
                var name = $('#name-student').val();

                $.get('{% url "course:list_user_subjects" %}', {name: name}, function (data) {
                    console.log(name)
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        html += "<tr><td>" + data[i].fields.name + "</td><td>" + data[i].fields.number_credits + "</td><tr>";
                    }
                    $('#subjects').html(html);
                });

            });


        });
    </script>

{% endblock %}
