{% extends "index.html" %}
{% load staticfiles %}

{% block main %}

    <h1>estudiante: {{ request.user }}</h1>
    <h1>{{ request.user.get_full_name }}</h1>
    <a href="/logout">logout</a>

{% endblock %}