{% extends "index.html" %}
{% load staticfiles %}

{% block main %}

    <br>
    <a class="btn btn-primary" href="{% url 'course:create_student' %}">Nuevo Estudiante</a>
    <br>

    <form>

    </form>

    <p align="center" class="text-success fa-2x">Lista de Estudiantes</p>

    <div>

        <table class="table table-bordered">
            <thead>

            <th>Nombre</th>
            <th>Apellido</th>
            <th>Editar</th>
            <th>Delete</th>

            </thead>

            <tbody>
            {% for stu in student %}
                <tr>
                    <td>{{ stu.name }}</td>
                    <td>{{ stu.last_name }}</td>
                    <td><a class="btn btn-info" href="{% url 'course:edit_student' stu.id %} ">Editar</a></td>
                    <td><a class="btn btn-danger" href="{% url 'course:delete_student' stu.id %} ">Eliminar</a></td>

                </tr>



            {% endfor %}

            </tbody>


        </table>


    </div>

{% endblock %}

